body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    color: white;
}
.parallax {
    background-image: url('https://i.gifer.com/Fmbs.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.content {
    z-index: 1;
    text-align: center;
}
h1 {
    font-size: 2.5em;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}
table {
    width: 75vw;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    color: #333;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
table th, table td {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
}
table th {
    background-color: #32cd32;
    color: white;
    font-weight: bold;
}
table tbody tr:nth-child(odd) {
    background-color: #ffe6f2;
}
table tbody tr:hover {
    background-color: #f1f1f1;
}
.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #ff69b4;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.back-button:hover {
    background-color: #e05592;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
.back-button:active {
    transform: translateY(-1px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}