<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <link th:href="@{/css/produtos.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/produtos.js}"></script>
</head>
<body>
<div class="parallax">
    <div class="overlay"></div>
    <div class="content">
        <h1>Lista de Produtos</h1>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.nome}">&nbsp;</td>
                <td th:text="${produto.quantidade}">&nbsp;</td>
                <td th:text="'R$ ' + ${produto.preco}">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<button class="back-button" onclick="window.location.href='/'">
    <i class="fas fa-arrow-left"></i>
</button>
</button>
</body>
</html>
